body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color: black;
	text-decoration-style:wavy;
}

a:hover {
	color:orangered;
}

img {
	width:100%;
}

/* General */

@font-face {
	font-family:'gtregular';
	src: url('fonts/GT-Super-Text-Regular-v4.otf');
}

@font-face {
	font-family:'gtitalic';
	src: url('fonts/GT-Super-Text-Regular-Italic-v4.otf');
}

@font-face {
	font-family:'nationalregular';
	src: url('fonts/National-Regular.otf');
}

/* Startpage */

body.startpage {
	background-image:url("background/sandcrabcropped.gif");
}

div.title {
	font-size:40px;
	text-align:left;
	padding-top:330px;
	padding-left:250px;
	font-family:'nationalregular';
	color:black;
}

div.secondarytitle {
	width:90%;
	font-size:30px;
	text-align:left;
	padding-top:10px;
	padding-left:250px;
	font-family:'gtitalic';
	color:black;
}

div.thirdtitle {
	font-size:30px;
	text-align:left;
	width:60%;
	padding-top:10px;
	padding-left:250px;
	font-family:'nationalregular';
	color:black;
}

/* Emoji page */

body.emojispage {
	background-size:100%;
	background-image:url("background/blueyellowcrab.jpg");
}

#crabemoji {
	font-size:3em;
	animation-name:slide;
	animation-duration:6s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

#crabemojifast {
	font-size:3em;
	animation-name:slide;
	animation-duration:4s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	padding:20px;
}

#crabemojisuperfast {
	font-size:3em;
	animation-name:slide;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	padding:5px;
}

#crabemojislow {
	font-size:3em;
	animation-name:slide;
	animation-duration:11s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	padding:30px;
}

@keyframes slide {
	100% {
		transform:translateX(100vw);
	}
}

/* Article Page */

body.why {
	background-color:blanchedalmond;
}

.why {
	display:flex;
	flex-wrap:wrap;
}

.article {
	width:50%;
	height:100vh;
	font-family:'nationalregular';
	font-size:25px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	overflow:scroll;
}

.articlecredit {
	font-family:'nationalregular';
	font-size:25px;
	padding-top:50px;
	padding-left:10px;
}

.whytitle {
	font-family:'gtregular';
	font-size:140px;
	padding-top:30px;
	padding-left:10px;
	width:50%;
	height:70%;
}


/* Immitation Crab Page */

body.imitation {
	background-color:blanchedalmond;
}

.intro {
	display:flex;
	flex-wrap:wrap;
}

.bluecrabimage {
	width:50%;
	margin-right:20px;
}

.crabstick {
	width:40%;
	padding-top:10px;
	font-family:'gtitalic';
	font-size:25px;
}

.crabsticktwo {
	width:40%;
	padding-top:250px;
	font-family:'gtregular';
	font-size:25px;
}

.crabstickthree {
	width:100%;
	padding-top:230px;
	font-family:'gtregular';
	font-size:25px;
	text-align:right;
}

/* Kani Page */

body.kanipage
{
	background-color:blanchedalmond;
}

.kani {
	width:50vw;
	margin-left:auto;
	margin-right:auto;
	padding-top:150px;
}

.kanitext {
	text-align:center;
	font-size:30px;
	padding:10px;
	font-family:'gtregular';
	color:black;
}

/* Feeling Crabby Page */

body.feelingcrabbypage {
	background-size:100%;
	background-image:url("background/greenpinkcrab.jpg");
}

.crabbytext {
	font-family:'gtregular';
	font-size:70px;
	padding-top:40px;
	padding-left:20px;
}

.crabbytextarticle {
	font-family:'nationalregular';
	font-size:25px;
	padding-top:50px;
	padding-left:20px;
	width:35%;
	height:70vh;
	overflow:scroll;
	text-align: justify;
}